@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

colors {
    color: #f7fff7
           #343434
           #2f3061
           #51bbfe
           #bf4342
}  

* {
    padding: 0;
    margin: 0;
    /* outline: red dashed 1px; */
    font-family: Montserrat;
}

/* ==={ Media Player Styling }=== */

#media-player {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    background-color: #343434;
    height: 90px;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bolder;
}

.playerbtnimage {
    width: 25px;
    height: 25px;
}

.playerbtn {
    border-radius: 100%;
    background: none;
    border: transparent;
    height: 25px;
    transition: .3s;
}

.playerbtn:hover {
    border: transparent;
    cursor: pointer;
    opacity: 60%;
}

.inactive {
    opacity: 60%;
}

.inactive:hover {
    cursor: default;
}

#now-playing-wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    color: #d8d8d8;
    text-wrap: wrap;
    word-break: break-word;
}

#playing-title {
    font-size: 1em;
}

#playing-artist {
    color: #999999;
    font-size: .7em;
}

#media-buttons-and-timer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#media-button-container {
    display: flex;
    align-items: center;
    gap: 13px;
    height: 40px;
}

#pausebtn {
    display: none;
}

#playbtn, #pausebtn {
    height: 40px;
}

#playbtn img, #pausebtn img {
    height: 40px;
    width: 40px;
}

#time-and-progress {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
    color: #d8d8d8;
    font-size: .8em;
}

#slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px transparent solid;
    border-radius: 10px;
    color: rgb(216, 216, 216);
    overflow: hidden;
    width: 30rem;
    height: .5rem
}

#slider::-webkit-progress-bar {
    background: rgb(87, 87, 87);
}

#slider::-webkit-progress-value {
    background: rgb(216, 216, 216);
}

#volume-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 17px;
    width: 150px;
}

#mutebtn img {
    height: 17px;
    width: 17px;
}

#mutebtn {
    height: 17px;
}

#volume {
    height: 17px;
    appearance: none;
    background: none;
    width: 100px;
    transition: .3s;
}

#volume:hover {
    opacity: 60%;
}

#volume::-webkit-slider-runnable-track {
    background: rgba(60, 60, 60, 0.867);
    border-radius: 10px;
    height: 5px;
    overflow: hidden;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    background: #d8d8d8;
    box-shadow: -1000.5px 0 0 1000px #d8d8d8;
    height: 0px;
    width: 0px;
    border-radius: 20px;
}

/* ==={ User Interface }=== */

#iframe-container {
    width: 100vw;
    height: calc(100vh - 100px);
    /* background-color: #2f3061; */
    /* background-color: #343434; */
    display: flex;
    justify-content: center;
}

#iframe {
    /* width: 90%; */
    width: 100%;
    height: calc(100vh - 190px);
    background-color: #dfdfdf;
}

#user-interface-wrapper {
    width: 100vw;
    height: 100vh;
    /* background-color: #343434; */
    display: flex;
    flex-direction: column;
}

.ui-header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343434;
}

.fotispy-icon {
    height: 60px;
    margin-left: 40px;
}

.accountBtn {
    font-size: 30px;
    width: 30px;
    margin-right: 50px;
    color: #cdcdcd;
    cursor: pointer;
    transition: .3s;
}

.accountBtn:hover {
    opacity: 60%;
}

.ui-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#playlistOverallContainer {
    width: 32%;
}

#playlistcontainerHeader {
    display: flex;
    align-items: center;
    height: 89px;
    margin-left: 5%;
    border-bottom: 1px solid #999999;
}

#songsContainerHeader {
    display: flex;
    align-items: center;
    height: 89px;
    border-bottom: 1px solid #999999;
}

#songsContainerHeader h1 {
    /* font-family: sans-serif; */
    color: #0076a4;
    font-weight: bold;
}

#playlistcontainerHeader h1 {
    /* font-family: sans-serif; */
    color: #0076a4;
    font-weight: bold;
}

#playlistcontFooter {
    margin-left: 5%;
    height: 29px;
    border-top: 1px solid #999999;
}

#songsContainerFooter {
    height: 29px;
    border-top: 1px solid #999999;
}

#playlists-container {
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#songs-container {
    /* background-color: lightcoral; */
    height: calc(100% -  130px);
    /* width: 32%; */
    /* min-width: 32%;
    max-width: 64%; */
    overflow-y: scroll;
    /* border-radius: 20px; */
    scrollbar-width: none;
}

.br {
    width: 2px;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(202, 202, 202);
    border-radius: 40%;
}

#playlist-view-container {
    height: 100%;
    width: 32%;
    font-family: sans-serif;
    font-family: Montserrat;
}

.playlist-button {
    margin-left: 5%;
    width: 95%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #c7c7c7;
}

.playlist-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70px;
    width: 70px; */
}

.playlist-icon {
    display: flex;
    height: 55px;
    width: 55px;
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
    font-family: Montserrat;
}

#new-playlist-icon {
    display: flex;
    height: 55px;
    width: 55px;
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 100;
    font-family: Montserrat;
}

.playlist-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    /* width: 280px; */
    /* height: 70px; */
    font-family: sans-serif;
}

.playlist-text {
    font-size: 1.2em;
    overflow: hidden;
    /* text-overflow: ellipsis;
    text-wrap: nowrap; */
    word-break: break-word;
}

.playlist-song-count {
    font-size: 0.8em;
}

.playlist-wrapper {
    width: 100%;
    /* height: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlistBtn, #playlistBtn {
    display: flex;
    justify-self: center;
    align-self: center;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    border: transparent;
    width: 97%;
    /* width: 95%; */
    margin-left: 3%;
    /* margin-left: 5%; */
    height: 100%;
    transition: .3s;
}

#playlistBtn:hover {
    cursor: pointer;
    background-color: #99999932;
}
 
.playlistBtn:hover {
    cursor: pointer;
    background-color: #99999932;
}

.gridifier, #gridifier {
    display: grid;
    height: 20%;
    min-height: 70px;
}

.playlist-wrapper, .playlistBtn, #playlistBtn {
    grid-column: 1;
    grid-row: 1;
}
 
#playlistBtn {
    z-index: 2;
}

.song-wrapper {
    height: 60px;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 5px;
}

.songTitleArtist {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-wrap: nowrap;
}

.songTitle {
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.artistSpan {
    color: rgb(104, 104, 104);
    font-size: .9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.songMetaBtn {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.songPlayBtn  {
    font-size: .9em;
    transition: .3s
}

.songPlayBtn:hover {
    color: #777777;
    cursor: pointer;
}

.songGenrePlaylistBtn {
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

.songGenres {
    display: flex;
    gap: 5px;
    max-height: 23px;
    margin-right: 5px;
}

.genreTag {
    background-color: #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    font-size: .6em;
    font-weight: bolder;
    text-wrap: nowrap;
}

.ellipsis-box {
    display: flex;
    height: 20px;
    width: 20px;
    border:transparent;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .3s;
}

.playlistPopulationAnchor {
    position: relative;
    /* outline: red 1px dashed; */
    height: 60px;
    right: 325px;
} 

.playlistPopulationForm {
    background-color: #1e1e1e;
    min-width: 200px;
    width: 300px;
    height: 60px;
    display: flex;
    /* outline: blue dashed 1px; */
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: .3s;
}

.addToPlaylistDropdown {
    background-color: #343434;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    min-width: 100px;
    width: 100%;
    max-width: 200px;
    color: rgb(228, 228, 228);
    font-size: 1em;
}

.addToPlaylistDropdown:focus {
    outline: none;
}

.addToPlaylistDropdown:hover {
    background-color: #464646;
}

.addToPlaylistSubmit {
    background-color: #0074a2;
    color: rgb(235, 234, 234);
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

.dummy {
    background-color: #464646;
}

.real:hover {
    background-color: #0087bd;
    cursor: pointer;
}

.fa-ellipsis-vertical {
    margin-top: 1.5px;
}

.ellipsis-box:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #343434;
}

.hidden {
    display: none;
}

#playlistFormContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transition: 20s;
}

#playlistFormWrapper {
    /* margin-top: 100px; */
    width: 500px;
    height: 300px;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 30px 20px 10px rgba(0, 0, 0, 0.227);
}

#closePlaylistForm {
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    font-size: 2em;
    /* outline: red dashed 1px; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px
}
#closePlaylistForm:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.079);
}

#playlistForm {
    /* outline: 1px blue dashed; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.playlistNameInput {
    height: 20px;
    width: 280px;
    background-color: rgb(80, 80, 80);
    border: transparent;
    color:  rgb(210, 210, 210);
    border-radius: 4px;
    font-size: .9em;
    padding: 10px;
}

.playlistNameInput:focus {
    outline: none;
}

.playlistDescInput {
    height: 80px;
    width: 280px;
    background-color: rgb(80, 80, 80);
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    color:  rgb(210, 210, 210);
    font-family: sans-serif;
    font-size: .9em;
}

.playlistDescInput:focus {
    outline: none;
}

#submitPlaylist {
    width: 100px;
    height: 50px;
    background-color: #006ea4;
    border-radius: 50px;
    color: white;
    border: transparent;
    transition: .3s;
}

#submitPlaylist:hover {
    background-color: #009be9;
    transition: .3s;
    cursor: pointer;
}

.playlistPopulationClose {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
    appearance: none;
    color: #f7fff7;
    font-size: 1em;
    transition: .3s;
    cursor: pointer;
}

.playlistPopulationClose:hover {
    background-color: transparent;
    color: #979797;
}

.playlistViewHeaderForm {
    height: 130px;
}

#updateBtn {
    /* width: 95%; */
    text-align: right;
    position: relative;
    right: -90%; /* this changed */
    top: 8px;
    font-size: 1.3em;
    transition: .3s;
}

#updateBtn:hover {
    color: gray;
    cursor: pointer;
}

#playlistViewDesc {
    margin-top: 10px;
    width: 97%;
    /* background-color: rgb(208, 208, 208); */
    word-break: break-word;
    font-size: .9em;
}

#playlistViewSongContainer {
    border: 1px solid #999999;
    margin: 10px 5% 10px 10px;
    height: 50%;
    overflow-y: scroll;
    position: relative;
}

#playlistViewSongContainer::-webkit-scrollbar {
    appearance: none;
    width: 10px;
}

#playlistViewSongContainer::-webkit-scrollbar-track {
    background-color: #1e1e1e00;
}

#playlistViewSongContainer::-webkit-scrollbar-thumb {
    background-color: #1e1e1e35;
}

.playlistViewSong {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #c7c7c7;
    align-items: center;
}

.fa-circle-minus {
    position: relative;
    top: 1.5px;
    color: rgb(200, 60, 60);
    font-size: 1.5em;
    transition: .3s;
}

.fa-circle-minus:hover {
    color: rgb(200, 119, 119);
    cursor: pointer;
}

.minusBtn {
    border: none;
    background: none;
    height: fit-content;
    width: fit-content;
}

.playlistViewArtist {
    font-size: .8em;
    color: #464646;
}

#pvschAnchor {
    position: relative;
}

#pvsch {
    position: absolute;
    font-size: .9em;
    top: 1px;
    left: 19px;
    z-index: 3;
    color: #4d4d4d;
    background-color: #dfdfdf;
    width: fit-content;
}

#playlistPlayBtnWrap {
    display: flex;
    height: 70px;
    font-size: 50px;
    width: 97%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fa-circle-play {
    border-radius: 100%;
    color: #0074a2;
    transition: .3s;
    border: red 1px solid;
}

.fa-circle-play:hover {
    cursor: pointer;
    color: #0194dd;
}

#playlistViewHeaderForm {
    position: relative;
}

#updatePlaylist {
    display: flex;
    flex-direction: column;
    width: 97%;
}

#closeUpdateButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#closeUpdatePlaylist {
    /* width: 97%; */
    width: fit-content;
    height: fit-content;
    text-align: right;
    position: relative;
    top: 5px;
    right: 11px;
    font-size: 1.7em;
    justify-self: flex-end;
    transition: .3s;
}

#closeUpdatePlaylist:hover {
    cursor: pointer;
    color: #737373;
}

#inputsBtns {
    display: flex;
}

#inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#playlistViewTitle {
    font-size: 1.7em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playlistViewTitleForm {
    padding: 5px;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: #c3c3c3;
    border: none;
    border-radius: 5px;
}

#playlistViewTitleForm:focus {
    outline: none;
    background-color: #d7d5d5;
}

#playlistViewDescForm {
    margin-top: 5px;
    height: 48px;
    resize: none;
    scrollbar-width: none;
    background-color: #c3c3c3;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#playlistViewDescForm:focus {
    outline: none;
    background-color: #d7d5d5;
}


#btns {
    display: flex;
    flex-direction: column;
    /* outline: 1px blue solid; */
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

#submitUpdate {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    color: #f7fff7;
    background-color: #0074a2;
    border: none;
    transition: .3s;
}

#submitUpdate:hover {
    cursor: pointer;
    background-color: #009be9;
}

#deletePlaylist {
    background-color: rgb(200, 60, 60);
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    color: #f7fff7;
    transition: .3s;
}

#deletePlaylist:hover {
    background-color: rgb(245, 93, 93);
}

#accountView {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accountViewPlate {
    background-color: rgb(210, 210, 210);
    height: 90%;
    width: 70%;;
    border-radius: 20px;
}

#accountViewHeaderWrapper {
height: 25%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#goHomeWrapper {
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

#goHomeBtn {
    font-size: 1.5em;
    color: #1e1e1e;
    transition: .3s;
}

#goHomeBtn:hover {
    color: #5c5c5c;
}

#accViewBtns {
    display: flex;
    gap: 30px;
}

.accountViewBtn {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #0074a2;
    color: white;
    font-size: .9em;
    transition: .3s;
}

.accountViewBtn:hover {
    background-color: #009be9;
    cursor: pointer;
}

#playlistsSongs {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#accountViewPlaylists, #manageSongs {
    width: 45%;
    max-width: 480px;
    height: 90%;
    /* outline: 1px solid #878787; */
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);
}

/* #manageSongs {
    width: 45%;
    height: 90%;
} */

.accViewSubHeader {
    height: 69px;
    border-bottom: 1px solid #b9b9b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accViewSubHeader h2 {
    margin-left: 20px;
    -webkit-text-stroke: 1px #0074a2;
    color: #0074a2;
}

#newSongBtn {
    margin-right: 30px;
    font-size: 1.5em;
    color: #343434;
    transition: .3s;
}

#newSongBtn:hover {
    color:rgb(101, 101, 101)
}

.accViewFooter {
    height: 29px;
    width: 100%;
    border-Top: #b9b9b9 1px solid;
}

#accViewSongsOverflow, #accViewPlaylistOverflow{
    height: calc(100% - 100px);
    overflow-y: scroll;
    /* background-color: rgb(233, 233, 233); */
}

#accViewSongsOverflow::-webkit-scrollbar, #accViewPlaylistOverflow::-webkit-scrollbar {
    appearance: none;
    /* background-color: red; */
    /* background-color: #1e1e1e22; */
    width: 10px;
}
#accViewSongsOverflow::-webkit-scrollbar-thumb, #accViewPlaylistOverflow::-webkit-scrollbar-thumb {
    background-color: #34343435;
}

.accViewTitle, .accViewPlaylistTitle {
    color: #1e1e1e;
}

.accViewArtist, .accViewPlaylistSongs {
    color: #676767;
}

a {
    text-decoration: none;
}

.accViewCard {
    height: 20%;
    border-bottom: 1px solid #c4c4c499;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    margin-left: 10px;
}

#subGenre {
    display: none;
}

#addSongWrapper {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addSongForm {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
    background-color: #f7fff7;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

#addSongHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}

#formInputs {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#fileInputWrap {
    border: 4px dashed rgb(202, 202, 202);
    height: 20%;
    width: 70%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#song_file {
    position: absolute;
    left: -99999999px;
}

#fileInputText {
    margin-top: 5px;
}

#fileInputBtn {
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(153, 153, 153);
    justify-content: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: .9em;
    color: white;
}

.newSongInput {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #343434;
    color: rgb(200, 199, 199);
    font-size: large;
}

.newSongInput::placeholder {
    color: #b2b2b2;
}

#genre2wrap {
    display: flex;
    align-items: center;
    height: 42.4px;
    width: calc(40% + 20px);
}

#subGenre {
    margin-left: 20px;
    width: 100%;
}

#submitSongBtn, #deleteSongBtn {
    height: 40px;
    width: 100px;
    background-color: #0074a2;
    color: #f7fff7;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    transition: .3s;
}

#submitSongBtn:hover {
    background-color: #009be9;
}

#backToAccount{
    position: absolute;
    top: 30px;
    right: 40px;
}

#deleteSongBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 70, 70);

}

#updateSongBtns {
    display: flex;
    gap: 30px;
}