@import url('https://fonts.googleapis.com/css?family=Montserrat');

colors {
    color: #f7fff7
           #343434
           #2f3061
           #51bbfe
           #bf4342
}  

* {
    padding: 0;
    margin: 0;
    /* outline: red dashed 1px; */
}

/* ==={ Media Player Styling }=== */

#media-player {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    background-color: #343434;
    height: 90px;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bolder;
}

.playerbtnimage {
    width: 25px;
    height: 25px;
}

.playerbtn {
    border-radius: 100%;
    background: none;
    border: transparent;
    height: 25px;
}

.playerbtn:hover {
    border: transparent;
    cursor: pointer;
    opacity: 60%;
}

.inactive {
    opacity: 60%;
}

#now-playing-wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    color: #d8d8d8;
    /* max-height: 30px; */
    /* overflow-x: scroll; */
}

#playing-title {
    font-size: 1em;
}

#playing-artist {
    color: #999999;
    font-size: .7em;
}

#media-buttons-and-timer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#media-button-container {
    display: flex;
    align-items: center;
    gap: 13px;
    height: 40px;
}

#pausebtn {
    display: none;
}

#playbtn, #pausebtn {
    height: 40px;
}

#playbtn img, #pausebtn img {
    height: 40px;
    width: 40px;
}

#time-and-progress {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
    color: #d8d8d8;
    font-size: .8em;
}

#slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px transparent solid;
    border-radius: 10px;
    color: rgb(216, 216, 216);
    overflow: hidden;
    width: 30rem;
    height: .5rem
}

#slider::-webkit-progress-bar {
    background: rgb(87, 87, 87);
}

#slider::-webkit-progress-value {
    background: rgb(216, 216, 216);
}

#volume-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 17px;
    width: 150px;
}

#mutebtn img {
    height: 17px;
    width: 17px;
}

#mutebtn {
    height: 17px;
}

#volume {
    height: 17px;
    appearance: none;
    background: none;
    width: 100px;
}

#volume::-webkit-slider-runnable-track {
    background: rgba(60, 60, 60, 0.867);
    border-radius: 10px;
    height: 5px;
    overflow: hidden;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    background: #d8d8d8;
    box-shadow: -1000.5px 0 0 1000px #d8d8d8;
    height: 1px;
    width: 1px;
    border-radius: 20px;
}

/* ==={ User Interface }=== */

#iframe-container {
    width: 100vw;
    height: 100vh;
    /* background-color: #2f3061; */
    background-color: #343434;
    display: flex;
    justify-content: center;
}

#iframe {
    width: 95%;
    height: calc(100vh - 91px);
    /* border: red 1px solid; */
}

#user-interface-wrapper {
    width: 100vw;
    height: 100vh;
    /* background-color: #f7fff7; */
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#playlists-container {
    background-color: lightblue;
    height: 90%;
    width: 32%;
    overflow-y: scroll;
    border-radius: 20px;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    appearance: none;
    display: none;
}

#songs-container {
    background-color: lightcoral;
    height: 90%;
    width: 32%;
    overflow-y: scroll;
    border-radius: 20px;
    scrollbar-width: none;
}

#other-container {
    background-color: lightgreen;
    height: 90%;
    width: 32%;
    border-radius: 20px;
}

.playlist-button {
    width: 350px;
    height: 70px;
    display: flex;
    background-color: #999999;
    border-radius: 10px;
}

.playlist-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
}

.playlist-icon {
    display: flex;
    height: 55px;
    width: 55px;
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 100;
    font-family: Montserrat;
}

#new-playlist-icon {
    display: flex;
    height: 55px;
    width: 55px;
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 100;
    font-family: Montserrat;
}

.playlist-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 280px;
    height: 70px;
    font-family: sans-serif;
}

.playlist-text {
    font-size: 1.2em;
}

.playlist-song-count {
    font-size: 0.8em;
}

.playlist-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlistBtn, #playlistBtn {
    display: flex;
    justify-self: center;
    align-self: center;
    background: transparent;
    /* background-color: rgba(188, 0, 0, 0.33); */
    border: transparent;
    border-radius: 10px;
    width: 350px;
    height: 70px;
}

.gridifier, #gridifier {
    display: grid;
}

.playlist-wrapper, .playlistBtn, #playlistBtn {
    grid-column: 1;
    grid-row: 1;
}
 
#playlistBtn {
    background-color: #51bcfe3d;
}

.song-wrapper {
    background-color: gray;
    margin: 20px;
}



/* Audio tag styles */
/* #songtest {
    width: 1000px;
    color: transparent;
}

#songtest::-webkit-media-controls-enclosure {
    background: none;
    height: 10px;
}

#songtest::-webkit-media-controls-timeline {
    visibility: visible;
    width: 40rem;
}

#songtest::-webkit-media-controls-timeline-container {
    width: 1000px;
}

#songtest::-webkit-media-controls-current-time-display,
#songtest::-webkit-media-controls-time-remaining-display,
#songtest::-webkit-media-controls-play-button,
#songtest::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
#songtest::-webkit-media-controls-volume-control-container,
#songtest::-internal-media-controls-overflow-button,
#songtest::-internal-media-controls-button-hover-background,
#songtest::-internal-media-controls-overflow-menu-list-item,
#songtest::-internal-media-controls-playback-speed-list {
    display: none;
} */