@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

colors {
    color: #f7fff7
           #343434
           #2f3061
           #51bbfe
           #bf4342
}  

* {
    padding: 0;
    margin: 0;
    /* outline: red dashed 1px; */
    font-family: Montserrat;
}

/* ==={ Log In }=== */
#loginPage {
    background-color: #1e1e1e;
    background-color: #0074a2;
    background: radial-gradient(#0074a2, #1e1e1e); 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginFormPlate {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    width: 30%;
    height: 80%;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

/* ==={ Media Player Styling }=== */

#media-player {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    background-color: #343434;
    height: 90px;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bolder;
}

.playerbtnimage {
    width: 25px;
    height: 25px;
}

.playerbtn {
    border-radius: 100%;
    background: none;
    border: transparent;
    height: 25px;
}

.playerbtn:hover {
    border: transparent;
    cursor: pointer;
    opacity: 60%;
}

.inactive {
    opacity: 60%;
}

#now-playing-wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    color: #d8d8d8;
    /* max-height: 30px; */
    /* overflow-x: scroll; */
}

#playing-title {
    font-size: 1em;
}

#playing-artist {
    color: #999999;
    font-size: .7em;
}

#media-buttons-and-timer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#media-button-container {
    display: flex;
    align-items: center;
    gap: 13px;
    height: 40px;
}

#pausebtn {
    display: none;
}

#playbtn, #pausebtn {
    height: 40px;
}

#playbtn img, #pausebtn img {
    height: 40px;
    width: 40px;
}

#time-and-progress {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
    color: #d8d8d8;
    font-size: .8em;
}

#slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px transparent solid;
    border-radius: 10px;
    color: rgb(216, 216, 216);
    overflow: hidden;
    width: 30rem;
    height: .5rem
}

#slider::-webkit-progress-bar {
    background: rgb(87, 87, 87);
}

#slider::-webkit-progress-value {
    background: rgb(216, 216, 216);
}

#volume-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 17px;
    width: 150px;
}

#mutebtn img {
    height: 17px;
    width: 17px;
}

#mutebtn {
    height: 17px;
}

#volume {
    height: 17px;
    appearance: none;
    background: none;
    width: 100px;
}

#volume::-webkit-slider-runnable-track {
    background: rgba(60, 60, 60, 0.867);
    border-radius: 10px;
    height: 5px;
    overflow: hidden;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    background: #d8d8d8;
    box-shadow: -1000.5px 0 0 1000px #d8d8d8;
    height: 1px;
    width: 1px;
    border-radius: 20px;
}

/* ==={ User Interface }=== */

#iframe-container {
    width: 100vw;
    height: calc(100vh - 100px);
    /* background-color: #2f3061; */
    /* background-color: #343434; */
    display: flex;
    justify-content: center;
}

#iframe {
    /* width: 90%; */
    width: 100%;
    height: calc(100vh - 190px);
    background-color: #dfdfdf;
}

#user-interface-wrapper {
    width: 100vw;
    height: 100vh;
    /* background-color: #343434; */
    display: flex;
    flex-direction: column;
}

.ui-header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343434;
}

.fotispy-icon {
    height: 60px;
    margin-left: 40px;
}

.accountBtn {
    font-size: 30px;
    width: 30px;
    margin-right: 50px;
    color: #cdcdcd;
}

.ui-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#playlistOverallContainer {
    width: 32%;
}

#playlistcontainerHeader {
    display: flex;
    align-items: center;
    height: 89px;
    margin-left: 5%;
    border-bottom: 1px solid #999999;
}

#songsContainerHeader {
    display: flex;
    align-items: center;
    height: 89px;
    border-bottom: 1px solid #999999;
}

#songsContainerHeader h1 {
    /* font-family: sans-serif; */
    color: #0076a4;
    font-weight: bold;
}

#playlistcontainerHeader h1 {
    /* font-family: sans-serif; */
    color: #0076a4;
    font-weight: bold;
}

#playlistcontFooter {
    margin-left: 5%;
    height: 29px;
    border-top: 1px solid #999999;
}

#songsContainerFooter {
    height: 29px;
    border-top: 1px solid #999999;
}

#playlists-container {
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#songs-container {
    /* background-color: lightcoral; */
    height: calc(100% -  130px);
    /* width: 32%; */
    /* min-width: 32%;
    max-width: 64%; */
    overflow-y: scroll;
    /* border-radius: 20px; */
    scrollbar-width: none;
}

.br {
    width: 2px;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(202, 202, 202);
    border-radius: 40%;
}

#playlist-view-container {
    height: 100%;
    width: 32%;
    font-family: sans-serif;
    font-family: Montserrat;
}

.playlist-button {
    margin-left: 5%;
    width: 95%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #c7c7c7;
}

.playlist-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70px;
    width: 70px; */
}

.playlist-icon {
    display: flex;
    height: 55px;
    width: 55px;
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
    font-family: Montserrat;
}

#new-playlist-icon {
    display: flex;
    height: 55px;
    width: 55px;
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 100;
    font-family: Montserrat;
}

.playlist-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    /* width: 280px; */
    /* height: 70px; */
    font-family: sans-serif;
}

.playlist-text {
    font-size: 1.2em;
}

.playlist-song-count {
    font-size: 0.8em;
}

.playlist-wrapper {
    width: 100%;
    /* height: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlistBtn, #playlistBtn {
    display: flex;
    justify-self: center;
    align-self: center;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    border: transparent;
    width: 95%;
    margin-left: 5%;
    height: 100%;
}

#playlistBtn:hover {
    cursor: pointer;
    background-color: #99999932;
}
 
.playlistBtn:hover {
    cursor: pointer;
    background-color: #99999932;
}

.gridifier, #gridifier {
    display: grid;
    height: 20%;
    min-height: 70px;
}

.playlist-wrapper, .playlistBtn, #playlistBtn {
    grid-column: 1;
    grid-row: 1;
}
 
#playlistBtn {
    z-index: 2;
}

.song-wrapper {
    height: 60px;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 5px;
}

.songTitle {
    font-size: 1.3em;
}

.artistSpan {
    color: rgb(104, 104, 104);
    font-size: .9em;
}

.songMetaBtn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.songPlayBtn  {
    font-size: .9em;
}

.songPlayBtn:hover {
    opacity: 60%;
    cursor: pointer;
}

.songGenrePlaylistBtn {
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

.songGenres {
    display: flex;
    gap: 5px;
    max-height: 23px;
    margin-right: 5px;
}

.genreTag {
    background-color: #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    font-size: .6em;
    font-weight: bolder;
}

.ellipsis-box {
    display: flex;
    height: 20px;
    width: 20px;
    border:transparent;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.playlistPopulationAnchor {
    position: relative;
    /* outline: red 1px dashed; */
    height: 60px;
    right: 325px;
} 

.playlistPopulationForm {
    background-color: #1e1e1e;
    min-width: 200px;
    width: 300px;
    height: 60px;
    display: flex;
    /* outline: blue dashed 1px; */
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: .3s;
}

.addToPlaylistDropdown {
    background-color: #343434;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    min-width: 100px;
    width: 100%;
    max-width: 200px;
    color: rgb(228, 228, 228);
    font-size: 1em;
}

.addToPlaylistDropdown:focus {
    outline: none;
}

.addToPlaylistDropdown:hover {
    background-color: #464646;
}

.addToPlaylistSubmit {
    background-color: #0074a2;
    color: rgb(235, 234, 234);
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

.dummy {
    background-color: #464646;
}

.real:hover {
    background-color: #0087bd;
    cursor: pointer;
}

.fa-ellipsis-vertical {
    margin-top: 1.5px;
}

.ellipsis-box:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.hidden {
    display: none;
}

#playlistFormContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transition: 20s;
}

#playlistFormWrapper {
    /* margin-top: 100px; */
    width: 500px;
    height: 300px;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 30px 20px 10px rgba(0, 0, 0, 0.227);
}

#closePlaylistForm {
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    font-size: 2em;
    /* outline: red dashed 1px; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px
}
#closePlaylistForm:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.079);
}

#playlistForm {
    /* outline: 1px blue dashed; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.playlistNameInput {
    height: 20px;
    width: 280px;
    background-color: rgb(80, 80, 80);
    border: transparent;
    color:  rgb(210, 210, 210);
    border-radius: 4px;
    font-size: .9em;
    padding: 10px;
}

.playlistNameInput:focus {
    outline: none;
}

.playlistDescInput {
    height: 80px;
    width: 280px;
    background-color: rgb(80, 80, 80);
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    color:  rgb(210, 210, 210);
    font-family: sans-serif;
    font-size: .9em;
}

.playlistDescInput:focus {
    outline: none;
}

#submitPlaylist {
    width: 100px;
    height: 50px;
    background-color: #007bb9;
    border-radius: 50px;
    color: white;
    border: transparent;
    transition: .3s;
}

#submitPlaylist:hover {
    background-color: #009be9;
    transition: .3s;
    cursor: pointer;
}

.playlistPopulationClose {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
    appearance: none;
    color: #f7fff7;
    font-size: 1em;
}

.playlistPopulationClose:hover {
    background-color: transparent;
    opacity: 60%;
}

.playlistViewHeaderForm {
    height: 130px;
}

#updateBtn {
    width: 95%;
    text-align: right;
    position: relative;
    top: 8px;
    font-size: 1.3em;
}

#playlistViewDesc {
    margin-top: 10px;
    width: 97%;
    /* background-color: rgb(208, 208, 208); */
    word-break: break-word;
    font-size: .9em;
}

#playlistViewSongContainer {
    border: 1px solid #999999;
    margin: 10px 5% 10px 10px;
    height: 50%;
    overflow-y: scroll;
    position: relative;
}

#playlistViewSongContainer::-webkit-scrollbar {
    appearance: none;
    width: 10px;
}

#playlistViewSongContainer::-webkit-scrollbar-track {
    background-color: #1e1e1e00;
}

#playlistViewSongContainer::-webkit-scrollbar-thumb {
    background-color: #1e1e1e35;
}

.playlistViewSong {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #c7c7c7;
    align-items: center;
}

.fa-circle-minus {
    position: relative;
    top: 1.5px;
    color: rgb(200, 60, 60);
    font-size: 1.5em;
}

.fa-circle-minus:hover {
    opacity: 60%;
    cursor: pointer;
}

.minusBtn {
    border: none;
    background: none;
    height: fit-content;
    width: fit-content;
}

.playlistViewArtist {
    font-size: .8em;
    color: #464646;
}

#pvschAnchor {
    position: relative;
}

#pvsch {
    position: absolute;
    font-size: .9em;
    top: 1px;
    left: 19px;
    z-index: 3;
    color: #4d4d4d;
    background-color: #dfdfdf;
    width: fit-content;
}

#playlistPlayBtn {
    display: flex;
    height: 70px;
    font-size: 50px;
    /* outline: 1px dashed red; */
    width: 97%;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 10px; */
}

.fa-circle-play {
    border-radius: 100%;
    color: #0074a2;
    transition: .3s;
}

.fa-circle-play:hover {
    cursor: pointer;
    color: #0083c5;
}

#playlistViewHeaderForm {
    position: relative;
}

#updatePlaylist {
    display: flex;
    flex-direction: column;
    width: 97%;
}

#closeUpdateButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#closeUpdatePlaylist {
    /* width: 97%; */
    width: fit-content;
    height: fit-content;
    text-align: right;
    position: relative;
    top: 5px;
    right: 11px;
    font-size: 1.7em;
    justify-self: flex-end;
    transition: .3s;
}

#closeUpdatePlaylist:hover {
    cursor: pointer;
    color: #737373;
}

#inputsBtns {
    display: flex;
    /* gap: 10px; */
}

#inputs {
    display: flex;
    flex-direction: column;
    /* outline: red 1px dashed; */
    width: 80%;
}

#playlistViewTitleForm {
    /* height: 30px; */
    padding: 5px;
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: #c3c3c3;
    border: none;
    border-radius: 5px;
}

#playlistViewTitleForm:focus {
    outline: none;
    background-color: #d7d5d5;
}

#playlistViewDescForm {
    margin-top: 5px;
    height: 48px;
    resize: none;
    scrollbar-width: none;
    background-color: #c3c3c3;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#playlistViewDescForm:focus {
    outline: none;
    background-color: #d7d5d5;
}


#btns {
    display: flex;
    flex-direction: column;
    /* outline: 1px blue solid; */
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

#submitUpdate {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    color: #f7fff7;
    background-color: #0074a2;
    border: none;
    transition: .3s;
}

#submitUpdate:hover {
    cursor: pointer;
    background-color: #009be9;
}

#deletePlaylist {
    background-color: rgb(200, 60, 60);
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    color: #f7fff7;
    transition: .3s;
}

#deletePlaylist:hover {
    background-color: rgb(245, 93, 93);
}