{% extends "homepageiframe.html" %}

{% block formcontent %}
{% if playlistForm %}
<div class="hidden" id='playlistHideToggle'>
    <div id='playlistFormContainer'>
        <div id="playlistFormWrapper">
            <i class="fa-solid fa-xmark"></i>
            <form id='playlistForm' action="" method='POST'>
                {% csrf_token %}
                <input class='playlistNameInput' type="text" maxlength='30' placeholder='Playlist Name' value="New Playlist" name='name' required>
                <textarea maxlength='150' class='playlistDescInput' placeholder='Description (Optional)' name='description'></textarea>
                <input id='submitPlaylist' type="submit" name='Add Playlist'>
            </form>
            <div class="evener"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock formcontent %}
{% comment %} {% if songForm %}
<form action="" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{songForm.as_p}}
    <input type="submit" name='Add Song'>
</form>
{% endif %}
{% endblock formcontent %} {% endcomment %}