{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "styles.css" %}">
        <title>FotiSpy</title>
        <link rel="icon" href="{% static "images/FotiSpy Tilt Gradient.png" %}">
        <script src="https://kit.fontawesome.com/2734bda929.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>