{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FotiSpy</title>
        <link rel="stylesheet" href="{% static "styles.css" %}">
        <script src="{% static 'script.js' %}" defer></script>
        <script src="https://kit.fontawesome.com/2734bda929.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <div id='user-interface-wrapper'>
            {% comment %} <header class='ui-header'>
                <div class="icon-title">
                    <img class='fotispy-icon' src="{% static "images/FotispyLogoText.png" %}" alt="FotiSpy">
                </div>
                    <input type="search">
                <a href="{% url "account" %}"><button class='accountBtn'>account</button></a>
            </header> {% endcomment %}


            <div class="ui-container">
                <div id="playlistOverallContainer">
                    <div id="playlistcontainerHeader">
                        <h1>Playlists</h1>
                    </div>
                    <div id='playlists-container'>
                        <div id='gridifier'>
                            <div class='playlist-wrapper'>
                                <div id="new-playlist" class='playlist-button'>
                                    <div class='playlist-icon-wrapper'>
                                        <div id='new-playlist-icon'>+</div>
                                    </div>
                                    <div class='playlist-text-wrapper'>
                                        <p class='playlist-text'>New Playlist</p>
                                    </div>
                                </div>
                            </div>
                            <button id="playlistBtn"></button>
                        </div>
                        
                        {% for playlist in playlists %}
                            <div class='gridifier'>
                                <div class='playlist-wrapper' id='playlistTest'>
                                    <div class='playlist-button'>
                                        <div class='playlist-icon-wrapper'>
                                            <div class='playlist-icon'>0</div>
                                        </div>
                                        <div class='playlist-text-wrapper'>
                                            <p class='playlist-text'>{{playlist.name}}</p>
                                            <p class='playlist-song-count'>sawngs</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="/iframetest/0{{playlist.pk}}" class='playlistBtn'>{% comment %}<div class='playlistBtn'>{% endcomment %}
                                    {% comment %} <button class='playnestTest'>D</button> {% endcomment %}
                                    {% for song in playlist.songs.all %}
                                        <song class='songArtist' title={{song.song_file.url}} style='display: none'>{{song.title}}</song>
                                    {% endfor %}
                                    {% comment %} <button class='nestTest'>:</button> {% endcomment %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div id='playlistcontFooter'>

                    </div>
                </div>
                <div class='br'></div>
                <div class='songsOverallContainer' style="{% if playlistInfo %}width: 32%{% else %}width: 64%; margin-right: 2.5%{% endif %}">
                    <div id='songsContainerHeader'>
                        <h1>Songs</h1>
                    </div>
                    <div id='songs-container'>
                        {% for song in songs %}
                        <div class="song-wrapper">
                            <div class='songMetaBtn'>
                                <i class="songPlayBtn fa-solid fa-play"><song class="{% for artist in song.artist.all %}{{artist}}{% endfor %}" title={{song.song_file.url}} style='display: none'>{{song.title}}</song></i>
                                <div class='songTitleArtist'>
                                    <div class='songObject songTitle' title={{song.song_file.url}}>{{song.title}}</div>
                                    <div class='songArtist'>{% for artist in song.artist.all %}<span class='artistSpan'>{{artist.name}}</span>{% endfor %}</div>
                                </div>
                            </div>
                            <div class='songGenrePlaylistBtn'>
                                <div class='songGenres'>{% for genre in song.genre.all %}<span class='genreTag'>{{genre.name}}</span>{% endfor %}</div>
                                <div class='ellipsis-box'><i class="fa-solid fa-ellipsis-vertical"></i></div>
                                <div class='playlistPopulationAnchor hidden'>
                                    <form class='playlistPopulationForm' action="" method='POST'>
                                        {% csrf_token %}
                                        <input type="hidden" value="{{song.pk}}" name='songKey'>
                                        <select name='playlistKey' class='addToPlaylistDropdown'>
                                            <option value="invalid" selected hidden disabled>Select Playlist</option>
                                            {% for playlist in playlists %}<option value="{{playlist.pk}}">{{playlist.name}}</option>{% endfor %}
                                        <input type='submit' name='Populate Playlist' value='Add' class='real addToPlaylistSubmit hidden'>
                                        <button class="dummy addToPlaylistSubmit" onclick='return false'>Add</button>
                                        <i class="fa-solid fa-xmark playlistPopulationClose"></i>
                                    </form>
                                </div>
                            </div>
                            {% comment %} <song class="{% for artist in song.artist.all %}{{artist}}{% endfor %}" title={{song.song_file.url}} style='display: none'>{{song.title}}</song> {% endcomment %}
                        </div>
                        {% endfor %}
                        {% block formcontent %}
                        {% endblock formcontent %}
                    </div>
                    <div id='songsContainerFooter'></div>
                </div>
                {% if playlistInfo %}
                <div class='br'></div>
                <div id='other-container'>
                    {% comment %} {% block formcontent %}{% endblock formcontent %}
                    <a href="/playlists/delete/202"><button>test</button></a>
                    {{test}} {% endcomment %}
                    
                    <h1>{{playlistInfo.name}}</h1>
                    <p class='playlistDisplayDesc'>{{playlistInfo.description}}</p>
                    <button id='playlistPlayBtn'>play
                    {% for song in playlistInfo.songs.all %}
                        <song class='songArtist' title={{song.song_file.url}} style='display: none'>{{song.title}}</song>
                    {% endfor %}
                    </button>
                    {% for song in playlistInfo.songs.all %}
                        <song>{{song.title}}</song>
                    {% endfor %}
                    <button id='updateBtn'>update playlist details</button>
                    <div class="form-wrapper">
                        <form action="" method='POST' class='hidden' id='updatePlaylist'>
                            {% csrf_token %}
                            <input type="text" value="{{playlistInfo.name}}" required name="name" placeholder="Title" maxlength='30'>
                            <textarea name="description" value="{{playlistInfo.description}}" placeholder='Description (Optional)' maxlength='200'></textarea>
                            <input type="hidden" value="{{playlistInfo.pk}}" name='playlistKey'>
                            <input type="submit" name='Update Playlist'>
                        </form>
                        <a href="/playlists/delete/{{playlistInfo.pk}}"><button>Delete</button></a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>