{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotispy</title>
    <link rel="icon" href="{% static "images/Fotispy Tilt Gradient.png" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "mediaplayer.js" %}" defer></script>
</head>
<body>
    <div id='iframe-container'>
        <iframe id='iframe' src="/iframetest/" onload='buffer()' frameborder="0"></iframe>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>