{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotispy</title>
    <link rel="icon" href="{% static "images/FotiSpy Tilt Gradient.png" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "mediaplayer.js" %}" defer></script>
</head>
<body>
    <header class='ui-header'>
        <div class="icon-title">
            <img class='fotispy-icon' src="{% static "images/FotispyLogoText.png" %}" alt="FotiSpy">
        </div>
        <a href="{% url "account" %}"><button class='accountBtn'>account</button></a>
    </header>
    <div id='iframe-container'>
        <iframe id='iframe' src="{% url "ift" 'na' %}" onload='buffer()' frameborder="0"></iframe>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>