{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body class='iframetest'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum unde impedit cumque nesciunt nemo quod excepturi, omnis recusandae distinctio itaque reiciendis necessitatibus eveniet earum ipsum dicta, error et, dolorum esse.
</body>
</html>