{% extends "boilerplate.html" %}

{% block content %}
    <div id='loginPage'>
        <div id="loginFormPlate">
            <h1 id='loginHeader'>Log In</h1>

            <form id='loginForm' method='POST' action="">
                {% csrf_token %}
                <div id='loginInputWrapper'>
                    <input type="text" name="username" placeholder="Username" class="loginInput loginUsername">
                    <input type="password" name="password" placeholder="Password" class="loginInput loginPassword" >
                </div>
                <div id='loginMessages'>
                    {% for message in messages %}
                    <p class='loginMessage'>{{message}}</p>
                    {% endfor %}
                </div>
                <input id="loginFormBtn" type="submit" value="Login">
                <p>Don't have an account? <a href="/register/">Create One</a></p>
            </form>
        </div>
    </div>
{% endblock content %}