{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "login.css" %}">
    <link rel="icon" href="{% static 'images/FotiSpy Tilt Gradient.png' %}">
    <script src="https://kit.fontawesome.com/2734bda929.js" crossorigin="anonymous" defer></script>
</head>
<body>
    <div id="loginPage">
        <div id="loginFormPlate">
            <h1>Register</h1>
            <form id='loginForm' method="POST" action="">
                {% csrf_token %}
                <div id="loginInputWrapper">
                    <div id="usernameInputWrap">
                        <i id='usernameInputIcon' class='fa-solid fa-user'></i>
                        <input type="text" name="username" placeholder="Username" required class="loginInput loginUsername">
                    </div>
                    <div id="emailInputWrap">
                        <i id='emailInputIcon' class="fa-solid fa-envelope"></i>
                        <input type="email" name='email' placeholder='email' required class='loginInput loginEmail'>
                    </div>
                    <div id="passwordInputWrap">
                        <i id='passwordInputIcon' class="fa-solid fa-lock"></i>
                        <input type="password" name="password1" placeholder="Password" required class="loginInput loginPassword" >
                    </div>
                    <div id="password2InputWrap">
                        <i id='password2InputIcon' class="fa-solid fa-lock"></i>
                        <input type="password" name="password2" placeholder="Confirm Password" required class="loginInput loginPassword" >
                    </div>
                </div>
                <div id="errorMessages">
                    {{ form.errors }}
                </div>
                <input id='loginFormBtn' type="submit" name="Create User" />
            </form>
            <p>Already have an account? <a href="/login/">Log In!</a></p>
        </div>
    </div>
</body>
</html>