{% extends "update_field.html" %}

{% block content %}
<form action="" method='POST' class="updateFieldPlate">
    <a id='goBack' href="{% url "update_account" %}">Back</a>
    {% csrf_token %}
    <h1>Update Password</h1>
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class='updateAccInputs'>
        <input class='updateAccInput' placeholder='Enter New Password' type="password" name="password1" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
        <input class='updateAccInput' placeholder='Confirm Password' type="password" name="password2" autocomplete="new-password" required aria-invalid="true" aria-describedby="id_password2_helptext" id="id_password2">
    </div>
    <div id='errorTexts'>
        {% for message in errors %}
        <p class='errorMsg'>{{message}}</p>
        {% endfor %}
    </div>
    <div id='helpTexts'>
        <p>- Cannot be too similar to your other personal information.</p>
        <p>- Must contain at least 8 characters</p>
        <p>- Cannot be a commonly used password</p>
        <p>- Cannot be entirely numeric</p>
    </div>
    <input type="submit" name='submit' value='Confirm' class='confirmButton'>
</form>
{% endblock content %}

